:root {
  --primary-color: #0000ff;
  --white-color: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

  /*Navbar*/
  h1 {
    font-size: 2.5em;
  }

  nav {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1.5em 0;
  }

  .container {
    max-width: 70%;
    margin: auto;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .nav-content ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
  }
  
  .nav-content ul li a{
    color: var(--white-color);
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
  }

  /*about Section*/
  .about {
    display: flex;
    gap: 2em;
    margin-top: 2em;
  }

  .about img {
    width: 50%;
    margin-bottom: 1.5em;
  }

  .about-shop h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
    font-style: italic;
    color: var(--primary-color);
  }

  .about-shop p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1em;
  }

  @media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
      max-height: 600px;
      max-width: 80%;
    }

    .about {
      flex-direction: column;
      gap: 0;
    }

    /*about section*/
    .about img {
      width: 100%;
    }
  }

  @media screen and (max-width: 640px) {
    .container {
      max-width: 80%;
    }

    .nav-content ul{
      display: block;
      gap: 0;
    }
    
    /*about section*/
    .about {
      display: block;
    }

    .about img {
      width: 100%;
      height: 400px;
    }

  }
